html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow"), url(./fonts/barlow/Barlow-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow"), url(./fonts//barlow/Barlow-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow"), url(./fonts/barlow/Barlow-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow"),
    url(./fonts/barlow/Barlow-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow"),
    url(./fonts/barlow/Barlow-SemiBold.ttf) format("truetype");
}


::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to right, var(--scroll-track-color) 0%, var(--scroll-track-color) 30%, var(--scroll-color) 60%, var(--body-bg-color) 61%, var(--body-bg-color) 100%);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scroll-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
